<div class="contenedor">
  <div class="header">
    <app-header-login></app-header-login>
  </div>
  <div class="body">
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <p class="fuenteRegistro">Formulario de Registro</p>
        </div>

        <!-- Login Form -->
        <form>
          <input
            type="text"
            id="login"
            class="fadeIn second"
            name="login"
            placeholder="Nombre de usuario"
          />
          <input
            type="text"
            id="password"
            class="fadeIn third"
            name="login"
            placeholder="contraseña"
          />
          <input
            type="text"
            id="password"
            class="fadeIn third"
            name="login"
            placeholder="Repite la contraseña"
          />
          <input type="submit" class="fadeIn fourth" value="Registrame" />
        </form>
      </div>
    </div>
  </div>
  <div class="footer"><app-footer></app-footer></div>
</div>
