<div class="wrapper fadeInDown ">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <p class="fuenteRegistro"> Who are you?</p>
    </div>

    <!-- Login Form -->
    <form>
      <input
        type="text"
        id="login"
        class="fadeIn second"
        name="login"
        placeholder="usuario"
      />
      <input
        type="text"
        id="password"
        class="fadeIn third"
        name="login"
        placeholder="contraseña"
      />
      <input type="submit" class="fadeIn fourth" value="Log In" />
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="" href="/registro">Forgot Password?</a>
    </div>
  </div>
</div>
